.container {
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  
  .city-selection {
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    select {
      width: 200px;
      padding: 5px;
      font-size: 16px;
    }
  }
  
  .vehicle-number {
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input[type="text"] {
      width: 200px;
      padding: 5px;
      font-size: 16px;
    }
  }
  
  .parking-buttons {
    margin-top: 20px;
  
    button {
      margin-right: 10px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  
  .timer {
    margin-top: 20px;
  
    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  .logo {
    font-family: "Arial", sans-serif;
    font-size: 48px;
    color: #ffffff;
    background-color: #0f4c75;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .container {
    text-align: center;
  }
  