* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

.mainLogo {
  margin-top: 50px;
  margin-left: 50px;

  &__title {
    margin-left: 80px;
    font-size: 2.5rem;
    margin-top: -50px;
  }

  &__img {
    margin-left: 10px;
    margin-top: auto;
  }

  &__text__heading {
    margin-bottom: 40px;
    font-weight: 900;
    margin-left: 40px;
    margin-top: 80px;
    color: #1a9898;
  }

  &__text__subheading {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
    color: #3f8484;
  }

  &__text__p {
    line-height: 2;
    font-size: 18px;
    margin-left: 40px;
    font-weight: 500;
  }
}

.page {
  width: 400px;
  height: 507px;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin: -450px 765px;
  padding: 20px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-image: initial;
  border-radius: 20px;
}

.logo {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  color: #333;
}

.citySelection {
  margin-top: 20px;
}

.citySelection label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.citySelection select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
}

.vehicleNumber {
  margin-top: 20px;
  font-size: 18px;
}

.vehicleNumber label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.vehicleNumber input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.parkingButtons {
  margin-top: 20px;
  text-align: center;
}

.parkingButtons button {
  height: 50px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #1a9898;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.parkingButtons button:hover {
  background-color: #bfc9d4;
  color: #1a9898;
  font-weight: bold;
}

.parkingButtons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.timer {
  margin-top: 20px;
  text-align: center;
}

.timer__img {
  margin-left: 165px;
  margin-top: -79px;
}

.timer p {
  font-weight: bold;
  color: #333;
  margin-right: 68px;
}

#summary {
  color: #1a9898;
  text-align: center;
  margin-top: 50px;
}

.parkingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.parkingInfo p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#thank-you {
  text-align: center;
  margin-top: 20px;
  color: rgb(201, 167, 122);
}

#smiley {
  align-items: center;
  margin-top: 20px;
}
.container {
  text-align: center;
  margin-top: 20px;
  &__box1__h2 {
    color: #1a9898;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  &__box2__h2 {
    color: #1a9898;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  &__box1__p,
  &__box2__p {
    font-weight: 700;
    text-align: center;
  }
}
.formBox__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.inputBox {
  margin-top: 10px;
  &__label {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  &__label__password {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-right: 23px;
    margin-bottom: 70px;
  }
}

.btn-login,
.btn-register {
  align-items: center;
  margin-top: 10px;
  margin-left: 40px;
  height: 50px;
  width: 120px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 60px;
  background-color: #1a9898;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #bfc9d4;
    color: #1a9898;
    font-weight: bold;
  }
}
.btn-register-rpage {
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 240px;
  height: 50px;
  width: 120px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;

  background-color: #1a9898;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #bfc9d4;
    color: #1a9898;
    font-weight: bold;
  }
}

.btn-menu {
  margin-top: 100px;
  border-radius: 50px;
  font-size: larger;

  .parkingPriceB,
  .activityTimeB {
    align-items: center;
    text-align: center;
    font-size: 15px;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    height: 40px;
    width: 130px;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e5d5bf;
    color: #363434;
    border-bottom: #333;
    border-top: none;
    font-weight: 800;
    border-bottom: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #f9faf6;
      color: #999d9d;
      font-weight: bold;
      text-align: center;
    }
  }
  .parkingPriceB {
    margin-left: 35px;
  }
}

.wrapper {
  position: absolute;
  top: 65px;
  #parkingStyle {
    margin-top: 100px;
    border-radius: 50px;
    font-size: larger;
    align-items: center;
    text-align: center;
    font-size: 15px;
    align-items: center;
    margin-top: 10px;
    margin-left: 120px;
    height: 40px;
    width: 130px;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e5d5bf;
    color: #363434;
    border-bottom: #333;
    border-top: none;
    font-weight: 800;
    border-bottom: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #f9faf6;
      color: #999d9d;
      font-weight: bold;
      text-align: center;
    }
  }
}
.parkingPrice ul {
  list-style-position: inside;
  width: 600px;
  max-width: 100%;
  background: white;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;
}

li {
  padding: 0 0 0 1rem;
}

li:not(:last-child) {
  border-bottom: 1px solid lightblue;
}

li:first-child {
  margin-top: 1rem;
}

li:last-child {
  margin-bottom: 1rem;
}

::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E")
    " ";
}

li:nth-child(3n)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E")
    " ";
}

li:nth-child(3n - 1)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E")
    " ";
}
